<script lang="ts" setup>
import LoadingSpinner from '../UIElements/LoadingSpinner.vue';
</script>

<template>
  <div class="min-h-screen flex items-center justify-center">
    <loading-spinner />
  </div>
</template>
