<script lang="ts" setup>
import { PropType } from 'vue';
import { ProductResource } from '../../services/product';

defineProps({
  products: {
    type: Array as PropType<ProductResource>,
    required: true,
  },
});
</script>

<template>
  <div>
    <div class="flex flex-col mt-8">
      <div
        class="inline-block min-w-full overflow-hidden align-middle border-b border-gray-200 shadow sm:rounded-lg"
      >
        <div class="overflow-x-auto">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th
                  class="hidden md:table-cell lg:table-cell xl:table-cell px-6 py-3 font-medium leading-4 tracking-wider text-left text-black bg-white"
                >
                  <div class="inline-flex items-center">
                    <label
                      class="relative flex items-center p-3 rounded-full cursor-pointer"
                    >
                      <input
                        id="checkbox"
                        class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded-md border border-blue-gray-200 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-12 before:w-12 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-blue-gray-500 before:opacity-0 before:transition-opacity checked:border-primary checked:bg-primary checked:before:bg-primary hover:before:opacity-10"
                        type="checkbox"
                      />
                      <span
                        class="absolute text-white transition-opacity opacity-0 pointer-events-none top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 peer-checked:opacity-100"
                      >
                        <svg
                          class="h-3.5 w-3.5"
                          fill="currentColor"
                          stroke="currentColor"
                          stroke-width="1"
                          viewBox="0 0 20 20"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            clip-rule="evenodd"
                            d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                            fill-rule="evenodd"
                          ></path>
                        </svg>
                      </span>
                    </label>
                  </div>
                </th>
                <th
                  class="px-6 py-3 font-medium leading-4 tracking-wider text-left text-black bg-white"
                >
                  Title
                </th>
                <th
                  class="hidden md:table-cell lg:table-cell xl:table-cell px-6 py-3 font-medium leading-4 tracking-wider text-left text-black bg-white"
                >
                  Category
                </th>
                <th
                  class="hidden md:table-cell lg:table-cell xl:table-cell px-6 py-3 font-medium leading-4 tracking-wider text-left text-black bg-white"
                >
                  Brand
                </th>
                <th
                  class="hidden md:table-cell lg:table-cell xl:table-cell px-6 py-3 font-medium leading-4 tracking-wider text-left text-black bg-white"
                >
                  Price
                </th>
                <th
                  class="hidden md:table-cell lg:table-cell xl:table-cell px-6 py-3 font-medium leading-4 tracking-wider text-left text-black bg-white"
                >
                  Stock
                </th>
                <th
                  class="hidden md:table-cell lg:table-cell xl:table-cell px-6 py-3 font-medium leading-4 tracking-wider text-left text-black bg-white"
                >
                  Rating
                </th>
              </tr>
            </thead>

            <tbody class="bg-white divide-y divide-gray-200">
              <tr v-for="(product, index) in products" :key="index">
                <td
                  class="hidden md:table-cell lg:table-cell xl:table-cell px-6 py-4 whitespace-nowrap"
                >
                  <div class="inline-flex items-center">
                    <label
                      class="relative flex items-center p-3 rounded-full cursor-pointer"
                    >
                      <input
                        id="checkbox"
                        class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded-md border border-blue-gray-200 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-12 before:w-12 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-primary before:opacity-0 before:transition-opacity checked:border-primary checked:bg-primary checked:before:bg-primary hover:before:opacity-10"
                        type="checkbox"
                      />
                      <span
                        class="absolute text-white transition-opacity opacity-0 pointer-events-none top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 peer-checked:opacity-100"
                      >
                        <svg
                          class="h-3.5 w-3.5"
                          fill="currentColor"
                          stroke="currentColor"
                          stroke-width="1"
                          viewBox="0 0 20 20"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            clip-rule="evenodd"
                            d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                            fill-rule="evenodd"
                          ></path>
                        </svg>
                      </span>
                    </label>
                  </div>
                </td>
                <td
                  class="px-6 py-4 sm:whitespace-normal md:whitespace -nowrap"
                >
                  <div class="flex items-center">
                    <template v-if="product.images.length && product.images[0]">
                      <div class="flex-shrink-0 w-10 h-10">
                        <img
                          :src="product.images[0]"
                          alt=""
                          class="w-10 h-10 rounded-full"
                        />
                      </div>
                    </template>

                    <div class="ml-4">
                      <router-link
                        :to="`/products/${product.id}`"
                        class="text-sm font-medium leading-5 text-primary hover:text-primary/50 transition transition-color ease-out block md:inline"
                      >
                        {{ product.title ?? '-' }}
                      </router-link>
                    </div>
                  </div>
                </td>

                <td
                  class="hidden md:table-cell lg:table-cell xl:table-cell px-6 py-4 whitespace-nowrap"
                >
                  <div class="text-sm leading-5 text-primaryGray">
                    {{ product.category ?? '-' }}
                  </div>
                </td>

                <td
                  class="hidden md:table-cell lg:table-cell xl:table-cell px-6 py-4 whitespace-nowrap"
                >
                  <div class="text-sm leading-5 text-primaryGray">
                    {{ product.brand ?? '-' }}
                  </div>
                </td>

                <td
                  class="hidden md:table-cell lg:table-cell xl:table-cell px-6 py-4 text-sm leading-5 text-primaryGray whitespace-nowrap"
                >
                  {{ product.price ?? '-' }}
                </td>

                <td
                  class="hidden md:table-cell lg:table-cell xl:table-cell px-6 py-4 text-sm leading-5 text-primaryGray whitespace-nowrap"
                >
                  {{ product.stock ?? '-' }}
                </td>

                <td
                  class="hidden md:table-cell lg:table-cell xl:table-cell px-6 py-4 text-sm leading-5 text-primaryGray whitespace-nowrap"
                >
                  {{ product.rating ?? '-' }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>
