<script lang="ts" setup>
import { ref, watch } from 'vue';
import { useProduct } from '../../composables/useProducts';
import debounce from 'lodash/debounce';

const { searchProducts } = useProduct();

const titleQuery = ref<string>('');
const brandQuery = ref<string>('');

watch(
  titleQuery,
  debounce(() => searchProducts(titleQuery.value), 500),
);
watch(
  brandQuery,
  debounce(() => searchProducts(brandQuery.value), 500),
);
</script>

<template>
  <div class="flex flex-col md:flex-row md:items-center gap-4">
    <div class="flex flex-col gap-2 justify-center">
      <label>Title</label>
      <input
        v-model="titleQuery"
        class="w-full md:w-40 text-primaryGray border-gray-200 rounded-md sm:w-64 focus:border-primary focus:ring focus:ring-opacity-40 focus:ring-primary"
        placeholder="Enter Title"
        type="text"
      />
    </div>

    <div class="flex flex-col gap-2 justify-center">
      <label>Brand</label>
      <input
        v-model="brandQuery"
        class="w-full md:w-40 text-primaryGray border-gray-200 rounded-md sm:w-64 focus:border-primary focus:ring focus:ring-opacity-40 focus:ring-primary"
        placeholder="Enter Brand"
        type="text"
      />
    </div>
  </div>
</template>
