<script lang="ts" setup>
import { onMounted } from 'vue';
import { useProduct } from '../composables/useProducts';
import ProductsTable from '../components/Product/ProductsTable.vue';
import PageLoading from '../components/Common/Layout/PageLoading.vue';
import ProductsSearch from '../components/Product/ProductsSearch.vue';
import PageHeading from '../components/Common/Layout/PageHeading.vue';

const { getProducts, products, productsLoading } = useProduct();

onMounted(async () => {
  await getProducts(1);
});
</script>

<template>
  <div>
    <page-heading />

    <div class="mt-8" />

    <products-search />

    <template v-if="productsLoading">
      <page-loading />
    </template>

    <template v-else>
      <products-table :products="products" />
    </template>
  </div>
</template>
