<script lang="ts" setup>
import { onMounted } from 'vue';

import { useRoute } from 'vue-router';
import { useProduct } from '../../composables/useProducts';
import PageLoading from '../../components/Common/Layout/PageLoading.vue';
import ProductCard from '../../components/Product/ProductCard.vue';

const route = useRoute();
const id = route.params.id.toString();
const { getProduct, product, productLoading } = useProduct();

onMounted(async () => {
  await getProduct(id);
});
</script>

<template>
  <div>
    <template v-if="productLoading">
      <page-loading />
    </template>

    <template v-else-if="product">
      <product-card :product="product" />
    </template>
  </div>
</template>
