<script lang="ts" setup>
import Sidebar from './Sidebar.vue';
import Header from './Header.vue';
</script>

<template>
  <div class="flex h-screen bg-primaryGrayLight font-roboto">
    <Sidebar />

    <div class="flex-1 flex flex-col overflow-hidden my-6">
      <div class="mx-auto container">
        <Header />
      </div>

      <main
        class="flex-1 overflow-x-hidden overflow-y-scroll bg-primaryGrayLight"
      >
        <div class="container mx-auto px-6 py-8">
          <slot />
        </div>
      </main>
    </div>
  </div>
</template>
