<script lang="ts" setup>
import { ref } from 'vue';
import { useSidebar } from '../composables/useSidebar';

const dropdownOpen = ref<boolean>(false);
const { isOpen } = useSidebar();
</script>

<template>
  <header
    class="flex items-center justify-between px-6 py-4 bg-primaryGrayLight"
  >
    <div class="flex items-center">
      <button
        class="text-gray-500 focus:outline-none lg:hidden"
        @click="isOpen = true"
      >
        <svg
          class="w-6 h-6"
          fill="none"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M4 6H20M4 12H20M4 18H11"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
          />
        </svg>
      </button>

      <div class="relative mx-4 lg:mx-0">
        <span class="absolute inset-y-0 left-0 flex items-center pl-3">
          <svg class="w-5 h-5 text-gray-500" fill="none" viewBox="0 0 24 24">
            <path
              d="M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
            />
          </svg>
        </span>

        <input
          class="w-32 pl-10 pr-4 text-primaryGray border-gray-200 rounded-md sm:w-64 focus:border-primary focus:ring focus:ring-opacity-40 focus:ring-primary"
          placeholder="Search"
          type="text"
        />
      </div>
    </div>

    <div class="flex items-center">
      <div class="relative">
        <button
          class="relative flex mx-4 p-3 rounded-md text-gray-600 bg-white focus:outline-none"
        >
          <svg
            class="w-6 h-6"
            fill="none"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M15 17H20L18.5951 15.5951C18.2141 15.2141 18 14.6973 18 14.1585V11C18 8.38757 16.3304 6.16509 14 5.34142V5C14 3.89543 13.1046 3 12 3C10.8954 3 10 3.89543 10 5V5.34142C7.66962 6.16509 6 8.38757 6 11V14.1585C6 14.6973 5.78595 15.2141 5.40493 15.5951L4 17H9M15 17V18C15 19.6569 13.6569 21 12 21C10.3431 21 9 19.6569 9 18V17M15 17H9"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
            />
          </svg>
        </button>

        <div
          class="absolute top-0 right-3 z-10 rounded-full h-2.5 w-2.5 bg-[#ffbc0f]"
        />
      </div>

      <div class="relative">
        <button
          class="relative z-10 block w-11 h-11 overflow-hidden rounded-md shadow focus:outline-none"
          @click="dropdownOpen = !dropdownOpen"
        >
          <img
            alt="Your avatar"
            class="object-cover w-full h-full"
            src="https://images.unsplash.com/photo-1528892952291-009c663ce843?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=296&q=80"
          />
        </button>

        <div
          v-show="dropdownOpen"
          class="fixed inset-0 z-10 w-full h-full"
          @click="dropdownOpen = false"
        />

        <transition
          enter-active-class="transition duration-150 ease-out transform"
          enter-from-class="scale-95 opacity-0"
          enter-to-class="scale-100 opacity-100"
          leave-active-class="transition duration-150 ease-in transform"
          leave-from-class="scale-100 opacity-100"
          leave-to-class="scale-95 opacity-0"
        >
          <div
            v-show="dropdownOpen"
            class="absolute right-0 z-20 w-48 py-2 mt-2 bg-white rounded-md shadow-xl"
          >
            <router-link
              class="block px-4 py-2 text-sm text-gray-700 hover:border-primary hover:text-white"
              href="#"
              to="/"
            >
              Profile
            </router-link>

            <router-link
              class="block px-4 py-2 text-sm text-gray-700 hover:border-primary hover:text-white"
              to="/dashboard"
            >
              Products
            </router-link>

            <router-link
              class="block px-4 py-2 text-sm text-gray-700 hover:border-primary hover:text-white"
              to="/"
            >
              Log out
            </router-link>
          </div>
        </transition>
      </div>
    </div>
  </header>
</template>
